<!-- <section class="featured-wrapper container"> -->
<!--     <h2 class="featured-title">Featured Articles</h2> -->
<!--     <div class="featured-feed owl"> -->
<!--         {{ range (where ( where .Site.RegularPages "Type" "post" ) ".Params.featured" "=" true ) }} -->
<!--             <article class=""> -->
<!--                 <h3 class="post-title">{{ .Page.Title }}</h3> -->
<!--                 <a class="u-permalink" href={{ .Page.Permalink }} aria-label="{{ .Page.Title }}"></a> -->
<!--             </article> -->
<!--         {{ end }} -->
<!--     </div> -->
<!-- </section> -->
