{{ with ($.Param "featured_image") }}
    {{ $src := $.Page.Resources.GetMatch . }}

    {{ if $src }}
        {{ $s := newScratch }}
        {{ partial "featured-image" (dict "scratch" $s "src" $src )}}

        {{ $tiny := $s.Get "tiny" }}
        {{ $small := $s.Get "small" }}
        {{ $medium := $s.Get "medium" }}
        {{ $large := $s.Get "large" }}

        <img class="u-object-fit"
            srcset="
            {{- with $tiny.RelPermalink -}}{{.}} 500w{{- end -}}
            {{- with $small.RelPermalink -}}, {{.}} 800w{{- end -}}
            {{- with $medium.RelPermalink -}}, {{.}} 1200w{{- end -}}
            {{- with $large.RelPermalink -}}, {{.}} 1500w{{- end -}}
            "
            sizes="(min-width: 576px) 160px, 90vw"
            src="{{ $src.RelPermalink }}"
            alt="{{ $.Title }}">
    {{ end }}
{{ end }}
