{{ $share_url := .Permalink | safeURL }}

{{with .Site.Params.share }}
    <section>
        <h4 class="share-title">Share this post</h4>
        <div class="share u-hover-wrapper">
            {{ if in . "facebook" }}
            <a class="share-item share-facebook u-hover-item" href="https://www.facebook.com/sharer.php?u={{ $share_url }}" target="_blank" rel="noopener" aria-label="Share on Facebook">
                <svg class="share-icon icon-facebook">
                    {{ partial "icons/facebook" }}
                </svg>
            </a>
            {{ end }}

            {{ if in . "twitter" }}
            <a class="share-item share-twitter u-hover-item" href="https://twitter.com/intent/tweet?url={{ $share_url }}&text={{ .Title }}" target="_blank" rel="noopener" aria-label="Share on Twitter">
                <svg class="share-icon icon-twitter">
                    {{ partial "icons/twitter" }}
                </svg>
            </a>
            {{ end }}

            {{ if in . "linkedin" }}
            <a class="share-item share-linkedin u-hover-item" href="https://www.linkedin.com/shareArticle?mini=true&url={{ $share_url }}&title={{ .Title }}" target="_blank" rel="noopener" aria-label="Share on LinkedIn">
                <svg class="share-icon icon-linkedin">
                    {{ partial "icons/linkedin" }}
                </svg>
            </a>
            {{ end }}

            {{ if in . "reddit" }}
            <a class="share-item share-reddit u-hover-item" href="https://reddit.com/submit?url={{ $share_url }}&title={{ .Title }}" target="_blank" rel="noopener" aria-label="Share on Reddit">
                <svg class="share-icon icon-reddit">
                    {{ partial "icons/reddit" }}
                </svg>
            </a>
            {{ end }}

            {{ if in . "pocket" }}
            <a class="share-item share-pocket u-hover-item" href="https://getpocket.com/edit?url={{ $share_url }}" target="_blank" rel="noopener" aria-label="Share on Pocket">
                <svg class="share-icon icon-pocket">
                    {{ partial "icons/pocket" }}
                </svg>
            </a>
            {{ end }}

            {{ if in . "ycombinator" }}
            <a class="share-item share-ycombinator u-hover-item" href="https://news.ycombinator.com/submitlink?u={{ $share_url }}" target="_blank" rel="noopener" aria-label="Share on NewsHacker">
                <svg class="share-icon icon-ycombinator">
                    {{ partial "icons/ycombinator" }}
                </svg>
            </a>
            {{ end }}
        </div>
    </section>
{{ end }}
