{{ define "body_class" }}page-template{{ end }}

{{ define "main" }}
	<div class="content-area">
	    <main class="site-main">
	    	<div class="error-page container medium">
	    		<h1 class="error-code">404</h1>
	    		<h4 class="error-description">You've reached a broken link</h4>
	    	</div>

	    	<section class="related-wrapper">
		        <div class="container medium">
		            <h3 class="related-title">Check recent content...</h3>
		            <div class="related-feed">
	                    {{ range ( where .Site.RegularPages "Type" "post" | first 5 ) }}
	                        {{ partial "post-summary-short" . }}
	                    {{ end }}
		            </div>
		        </div>
		    </section>
	    </main>
	</div>
{{ end }}