{{ $urls := (dict "twitter" "https://twitter.com/{u}" "linkedin" "https://linkedin/in/{u}" "github" "https://github.com/{u}" "medium" "https://medium.com/@{u}" "stackoverflow" "https://stackoverflow.com/users/{u}" "email" "mailto:{u}")}}

{{ $name := .Get "name" }}
{{ $title := .Get "title" }}

{{ with site.Social }}
	{{- if isset . $name -}}
		{{ $u := index . $name }}
		{{ $url := index $urls $name }}
		<a href="{{ replace $url "{u}" $u }}" target="_blank" rel="noopener noreferrer" aria-label="{{ .name }}">{{ $title }}</a>
	{{- end -}}
{{ end }}

